<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Фотогалерея красивых мест в России" />
    <meta name="keywords" content="место, Россия, места в России, красивые фото" />
    <title>Mesto</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= require('./favicon.ico') %>" />
  </head>
  <body class="page">
    <!-- 
                        /\_____/\
                       /  o   o  \
                      ( ==  ^  == )
                       )         (
                      (           )
                     ( (  )   (  ) )
                    (__(__)___(__)__)
                -->
    <div class="page__wrapper">
      <header class="header">
        <a class="header__logo" href="#">
          <img class="header__logo-img" src="<%= require('./images/logo.svg') %>" alt="Место" />
        </a>
      </header>
      <main class="content">
        <section class="profile">
          <div class="profile__avatar">
            <img
              class="profile__avatar-img"
              src="<%= require('./images/avatar.jpg') %>"
              alt="Жак-Ив Кусто"
            />
            <button class="profile__avatar-edit" type="button" aria-label="Изменить фото"></button>
          </div>
          <div class="profile__info">
            <div class="profile__heading">
              <h1 class="profile__nickname">GameCattt</h1>
              <button
                class="profile__btn-edit"
                type="button"
                aria-label="Редактировать профиль"
              ></button>
            </div>
            <p class="profile__description">
              Королева паддингов, расхитительница попапов, укротительница гридов
            </p>
          </div>
          <button class="profile__btn-add" type="button" aria-label="Добавить фото"></button>
        </section>
        <section class="showcase">
          <ul class="showcase__list"></ul>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__author" lang="en">&copy; 2022 GameCattt</p>
      </footer>
      <div class="popup" id="profilePopup">
        <div class="popup__container">
          <h3 class="popup__title">Редактировать профиль</h3>
          <form class="popup-form" action="#" name="profileForm" novalidate>
            <input
              class="popup-form__input"
              name="name"
              type="text"
              placeholder="Имя"
              required
              minlength="2"
              maxlength="40"
              id="name-input"
            />
            <span class="popup-form__error-msg name-input-error"></span>
            <input
              class="popup-form__input"
              name="about"
              type="text"
              placeholder="О себе"
              required
              minlength="2"
              maxlength="200"
              id="about-input"
            />
            <span class="popup-form__error-msg about-input-error"></span>
            <button class="popup-form__btn-submit" type="submit">Сохранить</button>
          </form>
          <button class="popup__btn-close" type="button" aria-label="Закрыть"></button>
        </div>
      </div>
      <div class="popup" id="newPostPopup">
        <div class="popup__container">
          <h3 class="popup__title">Новое место</h3>
          <form class="popup-form" action="#" name="newPostForm" novalidate>
            <input
              class="popup-form__input"
              name="name"
              type="text"
              placeholder="Название"
              required
              minlength="2"
              maxlength="30"
              id="name-input"
            />
            <span class="popup-form__error-msg name-input-error"></span>
            <input
              class="popup-form__input"
              name="link"
              type="url"
              placeholder="Ссылка на картинку"
              required
              id="link-input"
            />
            <span class="popup-form__error-msg link-input-error"></span>
            <button class="popup-form__btn-submit" type="submit">Создать</button>
          </form>
          <button class="popup__btn-close" type="button" aria-label="Закрыть"></button>
        </div>
      </div>
    </div>
    <div class="popup popup_for_img" id="imagePopup">
      <div class="popup-img">
        <button class="popup__btn-close" type="button" aria-label="Закрыть"></button>
        <img class="popup-img__image" src="#" alt="" />
        <p class="popup-img__caption"></p>
      </div>
    </div>
    <div class="popup popup_confirm" id="confirmPopup">
      <div class="popup__container">
        <h3 class="popup__title">Вы уверены?</h3>
        <form class="popup-form" action="#" name="confirmForm" novalidate>
          <button class="popup-form__btn-submit" type="submit">Да</button>
        </form>
        <button class="popup__btn-close" type="button" aria-label="Закрыть"></button>
      </div>
    </div>
    <div class="popup popup_avatar" id="avatarPopup">
        <div class="popup__container">
          <h3 class="popup__title">Обновить аватар</h3>
          <form class="popup-form" action="#" name="avatarForm" novalidate>
            <input
              class="popup-form__input"
              name="avatar"
              type="url"
              placeholder="Ссылка на картинку"
              required
              id="avatar-input"
            />
            <span class="popup-form__error-msg avatar-input-error"></span>
            <button class="popup-form__btn-submit" type="submit">Сохранить</button>
          </form>
          <button class="popup__btn-close" type="button" aria-label="Закрыть"></button>
        </div>
      </div>
    </div>
    <template id="post">
      <li class="post">
        <img class="post__img" src="#" alt="" />
        <button class="post__btn-trash" type="button" aria-label="Удалить"></button>
        <div class="post__bar">
          <h2 class="post__caption"></h2>
          <div class="post__likes">
            <button class="post__btn-like" type="button" aria-label="Поставить лайк"></button>
            <span class="post__total-likes"></span>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
